<h1>Welcome to Tailor Made example!</h1>

<p>This application contains Tailor Made and Blazer, which are Business
inteligence gems.</p>

<ul>
  <li>Try <%= link_to "Blazer", blazer_path %></li>
  <li>Try <%= link_to "Tailor Made", "#{}" %>, this gem was developed to help humans explore their database.</li>
</ul>
